/**
 * Regional Championship 2024 - Skill 17 - Web Technologies
 * HTMLCSS - Task 1 - CSS Selectors
 *
 * Your task is to expand all CSS Selectors marked with @todo.
 * You are not allowed to add additional Selectors.
 */

#task-0 #switzerland {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-1 .germany.switzerland {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-2 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-3 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-4 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-5 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-6 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-7 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-8 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-9 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-10 /* @todo */ {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}
